Repository 25-HF003/front-end, pull requests merged in 2025-08, with the labels that each got.

#26 ETR-55 Feat: 기능 소개 페이지 UI 완료
  public/feature-arrow.svg
  src/api/noise_api.ts
  src/api/watermark_api.ts
  src/index.css
  src/pages/Features.tsx
  src/pages/Watermark/WatermarkModal.tsx
  src/pages/Watermark/WatermarkSuccess.tsx
Labels: ✨ Feature

#32 ETR-70 Feat: 마이페이지 사용자 정보 연결하기
  src/App.tsx
  src/api/auth.ts
  src/api/axiosInstance.ts
  src/api/deepfake.ts
  src/api/deepfake_api.ts
  src/api/index.ts
  src/api/user.ts
  src/app/store.ts
  src/components/Mypage/RecordPage.tsx
  src/components/Navbar.tsx
  src/features/auth/authAPI.ts
  src/features/auth/authSlice.ts
  src/pages/Deepfake/Detection.tsx
  src/pages/Deepfake/DetectionReport.tsx
  src/pages/Login.tsx
  src/pages/Mypage/DeepfakePanel.tsx
  src/pages/Mypage/DeepfakePanelReport.tsx
  src/pages/Mypage/Logout.tsx
  src/pages/Mypage/UserInfo.tsx
  src/pages/Signin.tsx
Labels: 🔨 Refactor

#36 ETR-76 Feat: 워터마크 기록조회&삭제 구현 & Refactor: 딥페이크 API 수정
  src/api/deepfake.ts
  src/api/index.ts
  src/api/watermark.ts
  src/components/Report/DeepfakeReport.tsx
  src/components/Report/ReportNotice.tsx
  src/components/Report/WatermarkSuccessReport.tsx
  src/pages/Deepfake/Detection.tsx
  src/pages/Deepfake/DetectionReport.tsx
  src/pages/Mypage/MyPage.tsx
  src/pages/Mypage/Panel/DeepfakePanel.tsx
  src/pages/Mypage/Panel/DeepfakePanelReport.tsx
  src/pages/Mypage/Panel/NoisePanel.tsx
  src/pages/Mypage/Panel/WatermarkPanel.tsx
  src/pages/Mypage/Panel/WatermarkPanelReport.tsx
  src/pages/Mypage/WatermarkPanel.tsx
  src/pages/Watermark/WatermarkReport.tsx
  src/routes/Router.tsx
Labels: 📬 API, 🔨 Refactor, ✨ Feature

#41 ETR-72 워터마크 삽입&탐지 백엔드 연동
  src/api/watermark.ts
  src/api/watermark_api.ts
  src/components/CommonHeader.tsx
  src/components/Report/DeepfakeReport.tsx
  src/components/Report/WatermarkSuccessReport.tsx
  src/pages/Mypage/Panel/WatermarkPanel.tsx
  src/pages/Watermark/WatermarkDetection.tsx
  src/pages/Watermark/WatermarkFailReport.tsx
  src/pages/Watermark/WatermarkInsert.tsx
  src/pages/Watermark/WatermarkModal.tsx
  src/pages/Watermark/WatermarkReport.tsx
  src/pages/Watermark/WatermarkSuccess.tsx
  yarn.lock
Labels: 📬 API, ✨ Feature

#45 ETR-85 Feat: 적대적 노이즈 기록 조회&삭제 구현
  src/api/index.ts
  src/api/noise.ts
  src/components/Modal/ConfirmModal.tsx
  src/components/Mypage/RecordPage.tsx
  src/components/Report/DeepfakeReport.tsx
  src/components/Report/WatermarkSuccessReport.tsx
  src/components/Upload/deepfake/DeepfakeSetting.tsx
  src/components/Upload/deepfake/ModeSelector.tsx
  src/pages/AdversarialNoise/AdversarialNoise.tsx
  src/pages/Deepfake/Detection.tsx
  src/pages/Login.tsx
  src/pages/Mypage/MyPage.tsx
  src/pages/Mypage/Panel/DeepfakePanel.tsx
  src/pages/Mypage/Panel/NoisePanel.tsx
  src/pages/Mypage/Panel/NoisePanelReport.tsx
  src/pages/Watermark/WatermarkDetection.tsx
  src/pages/Watermark/WatermarkInsert.tsx
Labels: 📬 API, ✨ Feature

#48 ETR-85 Feat: 적대적 노이즈 개별기록 조회 & Design: 적대적노이즈 탐지 UI 수정
  src/api/noise.ts
  src/components/Report/DeepfakeReport.tsx
  src/components/Report/NoiseReport.tsx
  src/components/Report/WatermarkSuccessReport.tsx
  src/components/Upload/AdversarialNoise/NoiseOptionPanel.tsx
  src/components/Upload/AdversarialNoise/NoiseSetting.tsx
  src/components/Upload/deepfake/DeepfakeSetting.tsx
  src/components/Upload/deepfake/ModeOptions.ts
  src/components/Upload/deepfake/ModeSelector.tsx
  src/components/Upload/deepfake/OptionPanel.tsx
  src/pages/AdversarialNoise/AdversarialNoise.tsx
  src/pages/AdversarialNoise/NoiseResult.tsx
  src/pages/Deepfake/Detection.tsx
  src/pages/Deepfake/DetectionReport.tsx
  src/pages/Mypage/Panel/DeepfakePanelReport.tsx
  src/pages/Mypage/Panel/NoisePanel.tsx
  src/pages/Mypage/Panel/NoisePanelReport.tsx
  src/routes/Router.tsx
Labels: 🎨 Html&css, 📬 API, ✨ Feature

#51 ETR-104 Feat: 로딩중 WebSocket 연동
  index.html
  package-lock.json
  package.json
  src/api/deepfake.ts
  src/api/noise_api.ts
  src/api/watermark_api.ts
  src/app/store.ts
  src/components/InsertLoading.tsx
  src/components/Report/NoiseReport.tsx
  src/features/task/taskSlice.ts
  src/pages/AdversarialNoise/AdversarialNoise.tsx
  src/pages/Deepfake/Detection.tsx
  src/pages/Watermark/WatermarkDetection.tsx
  src/pages/Watermark/WatermarkInsert.tsx
  src/pages/Watermark/WatermarkModal.tsx
  src/pages/Watermark/WatermarkSuccess.tsx
  src/routes/Router.tsx
  src/websocket/useWebSocket.ts
  yarn.lock
Labels: 📬 API, ✨ Feature
